# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.log

# Environment Variables
.env
.env.*

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
models/*.pkl
models/*.joblib
models/*.bin
models/*.index

# Logs
logs/*.log